
    .navs__content__basic{
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        height: 20px;
        padding: 20px 0;
        background: white;
        border-bottom: 1px solid lightgray;
        z-index: 2;   
    }

    .navs__content__basic > a,.navs__content__right > a,.navs__content__right > div > a{
        text-decoration: none;
        color: gray;
        padding-left: 20px;
        margin-right: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    .navs__content__basic > a:hover,.navs__content__right > a:hover,.navs__content__right > div > a:hover{
        color: black!important;
    }
    .logo_navs{
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
    }

    .navs__content__basicDark{
        display: flex;
        align-items: center;
        width: 100%;
        height: 20px;
        padding: 20px 0;
        background: #333;
        border-bottom: 1px solid lightgray;   
    }
    .navs__content__basicDark > a{
        text-decoration: none;
        color: gray;
        padding-left: 20px;
        margin-right: 20px;
        font-weight: 600;
        cursor: pointer;
    }
    .active_navs{
        color: black!important;
    }
    .active_navs > .MuiSvgIcon-root{
        color: black!important;
    }
    .active_navsDark > .MuiSvgIcon-root{
        color:white!important;
    }
    .navs__content__basicDark > a:hover{
        color: white!important;
    }
    .navs__content__basicDark > .icon_links:hover{
        color: white!important;
    }
    .navs__content__basicDark > .icon_links:hover > .MuiSvgIcon-root{
        color: white!important;
    }
    .active_navsDark{
        color: white!important;
    }
    .navs__content__basicDark > .icon_links:hover > .MuiSvgIcon-root{
        color: white!important;
    }
    .right_sideDark > .icon_links:hover > .MuiSvgIcon-root{
        color: white!important;
    }
    .navbar__Dropdown{
        display:block;
        position:fixed;
        top:60px;
        border-top:2px solid crimson;
        left:15%;
        background-color:white;
        box-sizing:border-box;
        padding:15px;
        z-index:1000;
    }
    .navbar__Dropdown > a {
        text-decoration: none;
    }
    .navbar__Dropdown > a > div:hover{
        color:black!important;
    }
    .no__display{
        display: none;
    }
    .navs__content__right{
        display: flex;
        position: absolute;
        right: 35px;
    }
    .navs__content__right > a{
        display: flex;
        align-items: center;
    }

/*IPHONE X*/
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .navs__content__basic{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .navs__content__basic a{
        margin-bottom: 10px;
    }
    .navs__content__right{
        position: relative;
        right: 0;
        flex-direction: column;
        align-items: center;
    }
}
  
/*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px) {
    .navs__content__basic{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .navs__content__basic a{
        margin-bottom: 10px;
    }
    .navs__content__right{
        position: relative;
        right: 0;
        flex-direction: column;
        align-items: center;
    }
}
  
/* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 280px) and (max-width: 767px) {
    .navs__content__basic{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .navs__content__basic a{
        margin-bottom: 10px;
    }
    .navs__content__right{
        position: relative;
        right: 0;
        flex-direction: column;
        align-items: center;
    }
}