
.cards_displayPage{
  display: flex;
}
.cards_displayPage_filters{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100vh;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  border-right: 1px solid lightgray;
  padding: 85px 0 0 0;
}
.cards__content{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 25px;
  }
  .cardsRow__container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 25px 0;
  }
  .separator {
    height: 5px;
    width: 40px;
    margin: 10px 0;
    border-radius: 3px;
    background-image: linear-gradient(to right top, #ff594d, #ff773e, #ff942f, #ffb225, #face28);
  }
  .separator_black {
    height: 5px;
    width: 40px;
    margin: 10px 0;
    border-radius: 3px;
    background-color: black;
  }
  .separator_grey {
    height: 5px;
    width: 40px;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #E4E6EB;
  }
  .vertical_card{
    width: 250px;
    height: auto;
    max-height: 600px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    margin: 25px;
  }
  .vertical_card_text_flex {
    display: flex;
    align-items: center;
  }
  .vertical_card_text_flex > span{
    margin-left: 5px;
  }
  .vertical_card_text_flex > h2{
    margin: 0;
  }
  /* ici changer pour site serge------------------------------------------------------------------------------------------------------------------------*/
  .vertical_card__picture {
    width: 250px;
    height: 355px;
    max-height: 355px;
    background-position: center;
    transition: linear 0.2s;
  }
  .vertical_card__picture:hover{
    transform: scale(1.2);
  }
  /* au dessus changer pour site serge------------------------------------------------------------------------------------------------------------------*/
  .vertical_card_text {
    display: flex;
    height: 155px;
    flex-direction: column;
    padding: 10px;
    position: relative;
  }
  .vertical_card_text > p {
    font-size: 12px;
  }
  .vertical_card_text > h2{
    margin-top: 10px;
  }
  .vertical_card_read_more{
    position: absolute;
    font-size: 14px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    width: 100px;
    bottom: 10px;
    right: 10px;
    padding: 7px 15px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to right top, #ff594d, #ff773e, #ff942f, #ffb225, #face28);
  }
  .vertical_card_read_more_black{
    position: absolute;
    font-size: 14px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    width: 100px;
    bottom: 10px;
    right: 10px;
    padding: 7px 15px;
    color: white;
    cursor: pointer;
    background-color: black;
  }
  .vertical_card_read_more_grey{
    position: absolute;
    font-size: 14px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    width: 100px;
    bottom: 10px;
    right: 10px;
    padding: 7px 15px;
    color: black;
    cursor: pointer;
    background-color: #E4E6EB;
  }
  .vertical_card_read_more:hover,.vertical_card_read_more_black:hover {
    opacity: 0.8;
  }
  .vertical_card_read_more_grey:hover{
    background-color: #D8DADF;
  }
  a > .buttons__product__basic{
    background-color: white;
    border: 1px solid lightgray;
    right: 45px;
    top: 100px;
    min-width: 150px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 25px;
    color: #999;
    transition: 0.5s linear;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

a > .buttons__product__basic:hover{
    background-color: black;
    color: white;
}
a{
  text-decoration: none;
}  
  
  /* iphone 5-SE-6-7-8-X - 6+-7+-8+-X  Pixel2*/
  @media screen and (max-width: 759px){
    .cards__content{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      max-width: 300px;
      margin-left: 0;
      padding: 0;
    }
    .vertical_cardDark{
      margin: 20px 0!important;
      max-width: 300px;
    }
    .vertical_card{
      margin: 20px 0;
    }
    .cardsRow__container{
      width: 80%!important;
      max-width: 475px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 0;
    }
    .horizontal_card{
      width: 340px;
      height: 150px;
      background-color: white;
      box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
      color: black;
      display: flex;
      margin: 10px 0;
    }
    .separator{
      margin: 2px 0;
    }
    .horizontal_card_text{
      max-height: auto;
    }
    .horizontal_card_text > p {
      font-size: 9px;
      margin: 2px 0;
    }
    .horizontal_card_text  > h2{
      margin-bottom: 0;
    }
    .horizontal_card_text > h2{
      margin-top: 2px;
    }
    
    .horizontal_card_read_more{
      position: absolute;
      font-size: 14px;
      display: flex;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      width: 70px;
      bottom: 10px;
      right: 10px;
      padding: 4px 10px;
      color: white;
      cursor: pointer;
      background-image: linear-gradient(to right top, #ff594d, #ff773e, #ff942f, #ffb225, #face28);
    }
  }
    /* Galaxy Fold */
    @media screen and (max-width: 300px){
  
      .cardsRow__container{
        width: 280px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0;
        overflow-x: hidden;
      }
      .vertical_cardDark{
        margin: 20px 0!important;
        width: 220px!important;
        height: auto;
      }
      .vertical_card{
        width: 220px;
        height: auto;
        color: black;
        display: flex;
        margin: 20px 0;
      }
      .vertical_card_text{
        height: 135px;
      }
      .vertical_card_text > p {
        font-size: 9px;
        margin: 2px 0;
      }
      .vertical_card_text > h2{
        margin-top: 2px;
        font-size: 12px;
      }
  
      .separator_black {
        height: 5px;
        width: 40px;
        margin: 2px 0;
        border-radius: 3px;
        background-color: black;
    }
  
    }
  
    /*ADD THIS FOR DARK CARD*/
    .vertical_cardDark{
      width: 300px;
      height: auto;
      max-height: 700px;
      background-color: #333;
      color: white;
      box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
      display: flex;
      flex-direction: column;
      margin: 25px;
    }
  

    
   .buttons__content__basic{
    background-color: #E4E6EB;
    border-radius: 3px;
    border:1px solid lightgray;
    cursor: pointer;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    max-width: 230px;
    font-weight: 600;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .buttons__content__basic:hover,
 .buttons__content__basic:hover,
 .buttons__content__basic:hover,
 .buttons__content__basic:hover{
    background-color: #D8DADF;
 }
 .short{
    padding: 5px 10px;
    width: 60px;
 }
 .average{
    padding: 7px 15px;
    width: 110px;
 }
 .large{
    padding: 10px 35px;
    width: 110px;
 }
 .extralarge{
    padding: 10px 95px;
    width: 230px;
 }






 /*IPHONE X*/
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .cards_displayPage{
    flex-direction: column-reverse;
    padding-top: 245px;
  }
  .cards_displayPage_filters{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .cards_displayPage_filters a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards_displayPage_filters .buttons__product__basic{
    margin-top: 0;
  }
  .cardsRow__container{
    margin-left: 0!important;
  }
  .cards__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%!important;
  }
  .vertical_card{
    width: 100px!important;
  }
  .vertical_card__picture{
    width: 100px!important;
    height: 140px!important;
  }
  .vertical_card_text,.vertical_card_text_flex{
    font-size: 11px;
  }
  .vertical_card_text_flex h2{
    font-size: 9px!important;
  }
  .btn__addToCart{
    width: 72px!important;
  }
}

/*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px) {
  .cards_displayPage{
    flex-direction: column-reverse;
    padding-top: 245px;
  }
  .cards_displayPage_filters{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .cards_displayPage_filters a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards_displayPage_filters .buttons__product__basic{
    margin-top: 0;
  }
  .cardsRow__container{
    margin-left: 0!important;
  }
  .cards__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%!important;
  }
  .vertical_card{
    width: 120px!important;
  }
  .vertical_card__picture{
    width: 100px!important;
    height: 140px!important;
  }
  .vertical_card_text,.vertical_card_text_flex{
    font-size: 11px;
  }
  .vertical_card_text_flex h2{
    font-size: 9px!important;
  }
  .btn__addToCart{
    width: 72px!important;
  }
}

/* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .cards_displayPage{
    flex-direction: column-reverse;
    padding-top: 245px;
  }
  .cards_displayPage_filters{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .cards_displayPage_filters a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards_displayPage_filters .buttons__product__basic{
    margin-top: 0;
  }
  .cardsRow__container{
    margin-left: 0!important;
  }
  .cards__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%!important;
  }
  .vertical_card{
    width: 100px!important;
    height: auto!important;
  }
  .vertical_card__picture{
    width: 100px!important;
    height: 140px!important;
  }
  .vertical_card_text,.vertical_card_text_flex{
    font-size: 11px;
  }
  .vertical_card_text_flex h2{
    font-size: 9px!important;
  }
  .btn__addToCart{
    width: 72px!important;
  }
}
